<div id="main" style="height: 100%;">
    <div id="vibgyortext">
        <span style="color: violet;">
            V
        </span>
        <span style="color: indigo;">
            I
        </span>
        <span style="color: blue;">
            B
        </span>
        <span style="color: green;">
            G
        </span>
        <span style="color: yellow;">
            Y
        </span>
        <span style="color: orange;">
            O
        </span>
        <span style="color: red;">
            R
        </span>
    </div>
</div>